@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --body-bg-color: #131E2F;
    --font-color: #FFFFFF;
    --button-bg-color: #01A5B1;
}
body {
    background: var(--body-bg-color);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container .nike-image {
    width: 700px;
}
.grid-container {
    display: grid;
    width: 1100px;
    grid-template-columns: 1fr 1fr;
    color: var(--font-color);
    gap: 20px;
    padding: 10px;
}
.info {
    display: grid;
    grid-template-rows: repeat(6, auto);
    place-self: start;
    gap: 20px;
}
.info .description, .option {
    opacity: 0.7;
    font-size: 1rem;
}
.price-container {
    display: flex;
    flex-direction: column;
}
.price-old {
    font-size: 0.8rem;
    opacity: 0.7;
    text-decoration: line-through;
}
.price {
    font-size: 1.2rem;
}
.colors {
    display: flex;
    align-items: center;
}
.color {
    width: 25px;
    height: 25px;
    background-color: #EEEEEE;
    margin: 0 10px;
    border-radius: 50%;
}
.color:nth-child(2) {
    background-color: #000000;
}
.title {
    font-size: 2rem;
}
.sizes .size {
    margin: 0 10px;
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--button-bg-color);
    padding: 5px;
    border-radius: 50%;
    font-size: 1rem;
}
.button-buy {
    background: var(--button-bg-color);
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color);
    letter-spacing: 5px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: 0.2s;
}
.button-buy:hover {
    background-color: #00717C;
}